include LICENSE
include README.md
include requirements/*
include news_classifier/common/configs/configs.yml
include news_classifier/communicator/configs/configs.yml
include news_classifier/worker/configs/configs.yml
